name: OpenSceneGraph

on:
  push:
    branches:
    - '*'
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches:
    - '*'
  workflow_dispatch:

jobs:
  image:
    name: build ${{ matrix.arch_name }} ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, Debug]
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - name: "Install deps."
        run:  |
          sudo apt-get update && sudo apt-get install -y \
          libcurl4-openssl-dev libgtk2.0-dev libpoppler-glib-dev libgstreamer1.0-dev \
          libgstreamer-plugins-base1.0-dev libsdl2-dev opencl-headers \
          ocl-icd-opencl-dev freeglut3-dev libtiff5-dev zlib1g-dev \
          libjpeg-dev libpq-dev gdal-bin libgdal-dev cmake ninja-build build-essential
      - name: "cmake"
        run: cmake -Bbuild -H. -GNinja -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} && ninja -Cbuild
